body {
    font-weight: lighter;
}

#logo {
    color: #FFFFFF;
    font-size: 40px;
}

#logout_btn {
    color: #FFFFFF;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 20px;
}
#welcome {
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    color: rgba(64, 64, 64, 0.87);
}

#login_block_tabs {
    margin-top: 100px;
}

#form_block {
    margin-top: 180px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
}

#login_btn, #reg_btn {
    background-color: #880e4f;
    border-radius: 3px;
    color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 17px;
}

.form-group {
    border-color: #bababa;
    color: rgba(64, 64, 64, 0.87);
    font-weight: lighter;
    margin-top: 18px;
}

.tab-content {
    height: 300px;
    padding: 20px;
}

#user_books {
    border-right: 1px solid #880E4F;
}

#header {
    background-color: #880E4F;
    color: #FFFFFF;
    height: 50px;
}

/*NAVIGATION*/
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #880e4f !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #880e4f; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }