<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>Library</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Library</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextLib</param-name>
        <param-value>/WEB-INF/library.xml</param-value>
    </context-param>

    <filter>
        <filter-name>LibFilter</filter-name>
        <filter-class>com.lib.controllers.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LibFilter</filter-name>
        <url-pattern>/dashboard.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LibFilter</filter-name>
        <url-pattern>/readbook</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LibFilter</filter-name>
        <url-pattern>/getuserbooks</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/403.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>